:root {
    --header-color: #FFFFFF;
    --hero-color: #2F303A;
    --our-team-color: #f5f4fa;
}

body {
    background-color: var(--type-of-activity-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.link {
    color: #212121;
}
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.button {
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:#2196F3;
    font-size: 16px;
    cursor: pointer;
}
address {
    font-style: normal;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Оформлення шапки*/
.page-header {
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    }
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;   
    font-family: 'Raleway', sans-serif;
}
.logotype {
    color: #2196F3;
}
.nav-menu {
    display:flex;
    margin-left: 93px;
}
.nav-menu .item:not(:last-child) {
    margin-right: 50px;
}
.nav-menu .nav-link {
    display: block;
    padding: 32px 0;
}
.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.active {
color: #2196F3;
}
 .contact-link:hover {
    color: #2196F3;
}

/*auth-nav*/
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}
.contact-link {
        font-weight: 500;
        line-height: 1.4px;
        letter-spacing: 0.02em;
        color: #757575;
    
}


/*Герой*/
.hero {
    background-color: var(--hero-color);
    /*width: 1600px;*/
    padding: 200px 0;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.44;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    display: inline-block;
    margin-top: 40px;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.peculiarity {
    padding: 94px 0;
}
.work, .team {
    padding-bottom: 94px;
}
/*Особливості*/
.peculiarity, .work {
    background-color:var(--header-color);
}

.peculiarity .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px; 
    padding: 0 15px; 
    display: flex;
    justify-content: center;
}
.peculiarity .list-menu {
    display: flex;
}
.peculiarity .list-item{
    width:270px;
}
.peculiarity .list-item:not(:last-child) {
    margin-right: 30px;
}
.peculiarity .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.peculiarity .text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Чим ми займаємось?*/
.work .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.work .list-menu {
    display: flex;
    justify-content:center;
}
.work .title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.work .list-item:not(:last-child){
    margin-right: 30px;
}

/*Наша команда*/
.team {
    background-color: var(--our-team-color);
}
.team .container {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding: 0 15px;
}
.team .list-menu {
    display: flex;
    justify-content: center;
}
.team .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .card:not(:last-child) {
    margin-right: 30px;
}
.team .sub-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Підвал сайту*/
.footer {
    background-color: var(--hero-color);
    padding: 60px 0;
}
.footer .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.footer .menu {
    margin-top: 20px;
}
.footer .items:not(:last-child) {
    margin-bottom: 9px;
}
.studio {
    color:#FFFFFF;
}
.location {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*Сторінка портфоліо*/
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
.page .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page .list-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.page .list-item:not(:last-child) {
    margin-right: 8px;
}
.page .list-menu {
    flex-basis: calc((100%-60px)/3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.page .title {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.page .text {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.page .btn {
    padding: 6px 22px;
}
